html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root{
    --roboto-font: 'Roboto', sans-serif;
    --playfair-display-font: 'Playfair Display', serif;
    font: 300 1em var(--roboto-font);
    --main-color-orange: rgb(255, 164, 27);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 200px;
}

.logo{
    width: 5%;
}

.logo img{
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font: normal 500 1em var(--roboto-font);
}

.banner{
    width: 100%;
}

.banner__img{
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    height: 1055px;
}



/* MENU */
.menu__left{
    position: relative;
    width: 65%;
    height: 100%;
}

.menu__left--yellow{
    position: absolute;
    width: 95%;
    height: 300px;
    background-color: rgb(253, 223, 53);
}

.menu__left--img{
    position: absolute;
    width: 50%;
    left: 5%;
}

.menu__left--img img{
    width: 100%;
}

.menu__left--text{
    position: absolute;
    width: 30%;
    left: 60%;
    top: 7%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.menu__left--text h2{
    font: bold 7vw var(--playfair-display-font)
}


.menu__left--text a{
    color: var(--main-color-orange);
    text-decoration: none;
}

.menu__left--text button{
    color: white;
    background-color: black;
    padding: 20px 25px 20px 25px;
    border: none;
}

.menu__right{
    position: relative;
    width: 35%;
    top: 150px;
}

.menu__right--orange{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: var(--main-color-orange);
    top: 40px;
}

.menu__right--img{
    position: absolute;
    width: 90%;
}

.menu__right--img img{
    width: 100%;
}


/* LEARN COOKING */
.learn{
    background-image: url(../img/Learn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    gap: 15px;
    width: 70%;
}

.text h3{
    color: var(--main-color-orange);
    font: bold 3vw var(--playfair-display-font)
}
.text p{
    color: white;
}

.text a{
    color: var(--main-color-orange);
    text-decoration: none;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 75px;
}

.box__div--left{
    background-color: white;
    width: 450px;
    height: 500px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box__div--left h2{
    font: bold 9vw var(--playfair-display-font)
}

.box__div--left h3{
    font: bold 3vw var(--playfair-display-font)
}

.box__div--left a{
    color: var(--main-color-orange);
}

.box__div--center{
    background-color: rgba(0, 0, 0, 0.5);
    width: 450px;
    height: 500px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box__div--center h2{
    font: bold 9vw var(--playfair-display-font);
    color: var(--main-color-orange);
}

.box__div--center h3{
    font: bold 3vw var(--playfair-display-font);
    color: white;
}

.box__div--center p{
    color: white;
}

.box__div--center a{
    color: var(--main-color-orange);
}

.box__div--right{
    background-color: var(--main-color-orange);
    width: 450px;
    height: 500px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box__div--right h2{
    font: bold 9vw var(--playfair-display-font);
    color: white;
}

.box__div--right h3{
    font: bold 3vw var(--playfair-display-font);
    color: white;
}

.box__div--right p{
    color: white;
}

.box__div--right a{
    color: white;
}



/* ABOUT US */
.aboutus{
    position: relative;
    width: 100%;
    height: 425px;
}

.aboutus__background{
    position: absolute;
    opacity: 0.2;
    width: 100%;
}

.aboutus__left{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 40%;
}

.aboutus__left--img{
    position: absolute;
    width: 65%;
    transform: rotate(-7deg);
    translate: -55px;
    z-index: 0;
}

.aboutus__left--img2{
    position: absolute;
    width: 65%;
    z-index: 1;
}

.aboutus__left img{
    width: 65%;
}

.aboutus__right{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
    left: 45%;
    top: 20%;
}

.aboutus__right h3{
    font: bold 3vw var(--playfair-display-font)
}

.aboutus__right button{
    color: white;
    background-color: black;
    padding: 20px 25px 20px 25px;
    border: none;
}




/* CARTA */
.carta{
    display: flex;
    flex-direction: column;
    background-image: url("../img/Menu\ background.jpg");
    height: 2300px;
    width: 100%;
}

.carta h3{
    font: bold 3vw white;
    color: white;
    text-align: center;
    margin: 50px;
}

.section__wok{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section__wok--img{
    width: 50%;
    position: absolute;
    top: 0px;
    left: 250px;
}

.section__wok--img img{
    width: 70%;
}

.section__wok--text{
    padding: 100px;
    line-height: 60px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 900px;
    width: 550px;
    height: 400px;
}

.section__sushi{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section__sushi--img{
    width: 50%;
    position: absolute;
    top: 700px;
    left: 980px;
}

.section__sushi--img img{
    width: 70%;
}

.section__sushi--text{
    padding: 100px;
    line-height: 60px;
    background-color: white;
    position: absolute;
    top: 730px;
    left: 250px;
    width: 550px;
    height: 400px;
}

.section__main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section__main--img{
    width: 50%;
    position: absolute;
    top: 1400px;
    left: 250px;
}

.section__main--img img{
    width: 70%;
}

.section__main--text{
    padding: 100px;
    line-height: 60px;
    background-color: white;
    position: relative;
    top: 1440px;
    left: 315px;
    width: 550px;
    height: 400px;
}

.gallery{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-image: url("../img/Background\ gallery.jpg");
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    line-height: 0;
    z-index: 1;
}

.flip-card{
    background-color: transparent;
    width: 380px;
    height: 380px;
    /* La perspectiva hace efecto de revista */
    /* perspective: 3000px; */
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.photo--front, .photo--back{
    position: absolute;
    width: 100%;
    height: 100%;
    /*Hay que poner las dos opciones de backface para que no haya problemas en ningún navegador*/
    -webkit-backface-visibility: hidden; /*Para que se vea en navegadores Safari*/
    backface-visibility: hidden; /*Para que se vea en todos los navegadores que no sean Safari*/
}

.photo--front img{
    width: 100%;
}


.photo--back{
    transform: rotateY(180deg);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

/* Estilo que se pone en caso de que la imagen no cargue, para que salga el ALT de la foto
.flip-card-front{
    background-color: #bbb;
    color: black;
} */

.footer{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 50px;
}

.footer__up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 120px
}

.footer__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.footer__form{
    width: 30%;
}

.footer__form ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.footer__form li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.footer__form input{
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.50);
    border: none;
    border-radius: 5px;
    color: white;
}

.footer__form input::placeholder{
    color: white;
    padding-left: 5px;
}

.footer__form textarea{
    height: 40px;
    width: 100%;
    resize: none;
}

.footer__form textarea::placeholder{
    color: white;
    padding-left: 5px;
}

.footer__form button{
    padding: 20px 30px 20px 30px;
    background-color: var(--main-color-orange);
    color: white;
    width: 50%;
    border: none;
    border-radius: 5px;
}

.copyright{
    padding-top: 40px;
    padding-bottom: 10px;
}






/* MEDIA QUERY */
@media only screen and (max-width: 600px){
    .header{
        height: 60px;
    }

    .logo{
        width: 30%;
    }
    
    .navbar{
        display: none;
    }

    .menu{
        height: 355px;
    }

    .menu__left--img{
        width: 60%;
        left: 0;
    }

    .menu__left--yellow{
        height: 350px;
    }

    .menu__left--text{
        width: 100%;
        top: 0;
        gap: 2px;
    }

    .menu__right{
        display: none;
    }

    .text h3{
        font-size: 7vw;
    }

    .text p{
        display: none;
    }

    .box{
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
        gap: 10px;
    }

    .box__div--left{
        width: 250px;
        height: 300px;
    }

    .box__div--center{
        width: 250px;
        height: 300px;
    }

    .box__div--right{
        width: 250px;
        height: 300px;
    }

    .learn{
        background-image: url("../img/Learn\ mobile.jpg");
        background-position: center;
        height: 1230px;
    }

    .aboutus{
        height: 110px;
    }

    .aboutus__background{
        height: 100%;
    }

    .aboutus__right{
        gap: 0;
    }

    .aboutus__right p{
        display: none;
    }

    .aboutus__right button{
        padding: 10px 20px 10px 20px;
    }

    .carta h3{
        font-size: 7vw;
    }

    .section__wok--img{
        width: 100%;
        top: 0;
        left: 0;
    }

    .section__wok--text{
        padding: 10px;
        line-height: 15px;
        top: 10px;
        width: 200px;
        height: 230px;
        left: 160px;
    }








}
